.container {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 30% 1fr;
    grid-template-rows: 200px 100px;
    grid-gap: 1rem;

  }

.item {
    border: 2px solid rebeccapurple;
    background-color: slateblue;
    text-align: center
}
.item1 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}