.container {
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
    text-align: center;
    grid-template-areas: 
        "header header header" 
        "sidebar content-1 content-1" 
        "sidebar content-2 content-3" 
        "footer footer footer";
}

.header {
    grid-area: header;
    background-color: rebeccapurple;
    border: 5px solid black;
    border-radius: 6px;
}

.sidebar {
    grid-area: sidebar;
    background-color: darkseagreen;
    border: 5px solid black;
    border-radius: 6px;
}

.content-1 {
    grid-area: content-1;
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 6px;
}

.content-2 {
    grid-area: content-2;

    background-color: lightblue;
    border: 5px solid black;
    border-radius: 6px;
}

.content-3 {
    grid-area: content-3;
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 6px;
}

.footer {
    grid-area: footer;
    background-color: rebeccapurple;
    border: 5px solid black;
    border-radius: 6px;
}